html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  margin: 5px;
}

a, a:visited{
  color: #00f;
}

a.active {
  color: #f00;
}

.content {
  border:1px solid #f00;
}

.header {
  border:1px solid #00f;
}